<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>404 | Pacebook</title>
	<!-- ============================== links =============================== -->
	<link rel="icon" type="image/x-icon" href="../../assets/media/images/favicon.png">
	<link rel="stylesheet" type="text/css" href="../../assets/css/base.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
	<script src="https://kit.fontawesome.com/a0ad673b98.js" crossorigin="anonymous"></script>
</head>
<body>
	<!-- ==================================== Header Start ================================== -->
	<header id="top">
		<nav class="navbar navbar-expand-lg navbar-dark container-fluid fb-bg justify-content-between" id="nav-header">
		  	<a class="navbar-brand text-center text-lg-left ml-lg-5 col-12 col-lg-4" href="#top"><img src="../../assets/media/images/pacebook-logo.png" id="header-logo" class="img-fluid" width="150px"><h1 class="d-none">Pacebook</h1></a>
		  	<button class="navbar-toggler" id="menu-button" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		  	    <span class="navbar-toggler-icon"></span>
		  	</button>

		  	<div class="collapse navbar-collapse text-right fb-bg p-3" id="navbarSupportedContent">
		  		<a href="../../index.html" class="login-btn ml-auto" id="logout">Log Out</a>
		  	</div>
		</nav>
	</header>
	<!-- =================================== End of Header ================================= -->


	<!-- =================================== Start of main ================================= -->

	<main>
		<div class="container vh-100 w-100 p-5" id="404">
			<div class="row text-center">
				<div class="col-12 h-100 w-100 p-5">
					<img src="../../assets/media/images/gears.png" width="500px" class="img-fluid mt-5">
					<h2 class="text-monospace mt-minus-2 mb-2">404</h2>
					<h4 class="text-monospace mt-2">page is under construction</h4>
				</div>
			</div>
		</div>
	</main>


	<!-- ==================================== End of main ================================== -->


	<!-- ================================= Start of Footer ================================= -->

	<footer class="footer-bg">
		<div class="container py-4">
			<div class="row">
				<div class="col-12 text-right">
					<p>By: John Joseph Obligado<br>
						<a href="https://obligado86.github.io/project-portfolio/#profile" target="_blank" class="input-info-black"><i class="fas fa-coffee"> </i> Hire a Developer</a><br>
						<a href="mailto:obligado86@yahoo.com" class="input-info-black"><i class="fas fa-comment-alt"> </i> Send an email</a><br>
						<a href="https://www.linkedin.com/in/john-joseph-obligado-64a470153/" target="_blank" class="input-info-black"><i class="fab fa-linkedin"> </i> Linkedin</a><br>
					</p>
				</div>
			</div>
		</div>
	</footer>
	<!-- ================================== End of Footer ================================== -->

	<!-- ==================================== JavaScript Here ========================== -->
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
	<script type="text/javascript" src="../../assets/js/login.js"></script>
	<script type="text/javascript" src="../../assets/js/signup.js"></script>
	<script type="text/javascript" src="../../assets/js/global.js"></script>
</body>
</html>